@import url("variables.css");
@import url("utility.css");

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font Settings */
body {
  font-family: var(--font), sans-serif;
}

button,
input {
  font-family: inherit;
}

/* General */
.container {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  display: grid;
  place-items: center;
}

.heading {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}

.heading::before {
  content: "O";
  font-weight: 500;
  left: -2rem;
  position: absolute;
  color: red;
}

.heading::after {
  content: "X";
  font-weight: 500;
  right: -2rem;
  position: absolute;
  color: red;
}

.status {
  color: var(--dark);
  background-color: var(--chalk);
  border: 1px solid var(--dark);
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  text-align: center;
  font-weight: 500;
}

.game-grid {
  width: 100%;
  max-width: 20rem;
  background-color: var(--chalk);
  border: 1px solid var(--chalk);
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* Neumorphic */
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe57, -20px -20px 60px #ffffff42;
  padding: 2rem;
}

.box {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-size: 2rem;
  color: var(--dark);
  display: grid;
  place-items: center;
  border: 1px solid var(--chalk);
  font-weight: 500;
}

.btn-reset {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: var(--chalk);
  cursor: pointer;
  border: 1px solid var(--dark);
  visibility: hidden;
}

/*
    MARK: Responsive
*/
@media screen and (max-width: 481px) {
  .heading {
    font-size: 1.5rem;
  }
  .game-grid {
    max-width: 15rem;
  }
  .box {
    font-size: 1.5rem;
  }
}
