*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font: Teachers;
  --dark: #333;
  --chalk: rgba(255, 255, 255, 0.15);
}

/* Font Settings */
body {
  font-family: var(--font), sans-serif;
}

button,
input {
  font-family: inherit;
}

/* General */
.container {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  display: grid;
  place-items: center;
}

.status {
  color: var(--dark);
  background-color: var(--chalk);
  border: 1px solid var(--dark);
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  text-align: center;
}

.game-grid {
  width: 100%;
  max-width: 20rem;
  background-color: var(--chalk);
  border: 1px solid var(--chalk);
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-size: 2rem;
  color: var(--dark);
  display: grid;
  place-items: center;
  border: 1px solid var(--chalk);
  font-weight: 500;
}

.btn-reset {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: var(--chalk);
  cursor: pointer;
  border: 1px solid var(--dark);
}

/*
    MARK: Responsive
*/
@media screen and (max-width: 481px) {
  .game-grid {
    max-width: 15rem;
  }
  .box {
    font-size: 1.5rem;
  }
}
